body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
  }
  
  .navbar {
    background-color: #333;
    color: white;
    padding: 1em;
  }
  
  .nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .logo {
    font-size: 1.5em;
    font-weight: bold;
  }
  
  .nav-links {
    list-style-type: none;
    display: flex;
    gap: 1em;
  }
  
  .nav-links a {
    color: white;
    text-decoration: none;
    font-size: 1em;
  }
  
  .container {
    padding: 2em;
  }
  
  .event-details {
    display: flex;
    gap: 2em;
    align-items: flex-start;
  }
  
  .event-img {
    max-width: 300px;
    width: 100%;
    height: auto;
  }
  
  .event-text {
    max-width: 600px;
  }
  
  .event-text h2 {
    font-family: 'Droid Serif', serif;
    font-size: 2em;
    margin-top: 0;
  }
  
  .event-text p {
    font-family: 'Droid Serif', serif;
    font-size: 1.2em;
  }

  #eventCategories {
    margin-top: 20px;
  }
  
  .category-box {
    border: 1px solid #ccc;
    padding: 15px;
    border-radius: 5px;
    background-color: #f9f9f9;
  }
  
  .category-box h3 {
    margin-top: 0;
  }
  
  #categoryList {
    list-style: none;
    padding: 0;
  }
  
  #categoryList li {
    background-color: #e3e3e3;
    padding: 8px;
    border-radius: 3px;
    margin-bottom: 5px;
    display: inline-block;
    margin-right: 5px;
  }
  .btn-register {
  display: inline-block;
  padding: 10px 20px;
  margin-top: 20px;
  font-size: 16px;
  color: #fff;
  background-color: #007bff; /* Primary color */
  border: none;
  border-radius: 5px;
  cursor: pointer;
  text-align: center;
  transition: background-color 0.3s ease; /* Smooth transition */
}

.btn-register:hover {
  background-color: #0056b3; /* Darker color on hover */
}

  