body {
    background-color: lightblue;
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
  }
  
  .navbar {
    width: 100%;
    background-color: #333;
    /* overflow: hidden; */
    height: 80px;
  }
  
  .nav-container {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
  }
  
  .logo {
    color: white;
    font-size: 24px;
    font-weight: bold;
    text-transform: uppercase;
    margin-right: 20px;
  }
  
  .nav-links {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
  }
  
  .nav-links li {
    padding: 14px 20px;
  }
  
  .nav-links a {
    text-decoration: none;
    color: white;
    font-size: 16px;
  }
  
  .nav-links a:hover {
    background-color: #575757;
    border-radius: 4px;
  }
  
  .donation-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    margin-top: 20px;
  }
  
  .donation-box {
    width: 600px;
    background-color: #ffffff;
    border-radius: 8px;
    padding: 30px;
    box-shadow: 0 4px 8px rgba(49, 168, 236, 0.1);
  }
  
  .title {
    background-color: #7bccfa;
    color: white;
    text-align: center;
    padding: 20px;
    border-radius: 8px 8px 0 0;
    font-size: 24px;
    font-weight: bold;
  }
  
  .fields input {
    width: 100%;
    max-width: calc(100% - 30px); /* Adjust maximum width to fit within the container */
    padding: 15px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 18px;
  }
  
  .amount {
    display: flex;
    justify-content: space-between;
    margin-bottom: 25px;
  }
  
  .amount .button {
    background-color: rgb(119, 169, 235);
    color: rgb(255, 255, 255);
    padding: 20px;
    border-radius: 4px;
    text-align: center;
    cursor: pointer;
    flex: 1;
    margin: 0 5px;
    font-size: 18px;
  }
  
  .amount .button:hover,
  .amount .button.selected {
    background-color: #312e2e;
  }
  
  .amount .button input {
    width: 60%;
    border: none;
    background-color: transparent;
    color: white;
    font-size: 18px;
    border-bottom: 1px dashed white;
  }
  
  .switch {
    display: flex;
    justify-content: space-between;
    margin-bottom: 25px;
  }
  
  .switch-label {
    flex: 1;
    text-align: center;
    padding: 15px;
    cursor: pointer;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 18px;
  }
  
  .switch-input {
    display: none;
  }
  
  .switch-input:checked + .switch-label {
    background-color: #7bccfa;
    color: white;
  }
  
  .switch-selection {
    display: none;
  }
  
  .monthly-options .amount {
    display: flex;
    justify-content: space-between;
    margin-bottom: 25px;
  }
  
  .monthly-options .amount .button {
    background-color: rgb(119, 169, 235);
    color: white;
    padding: 20px;
    border-radius: 4px;
    text-align: center;
    cursor: pointer;
    flex: 1;
    margin: 0 5px;
    font-size: 18px;
  }
  
  .monthly-options .amount .button:hover,
  .monthly-options .amount .button.selected {
    background-color: #393939;
  }
  
  .checkboxes {
    margin-bottom: 25px;
  }
  
  .checkboxes label {
    font-size: 16px;
    color: #5C5C5C;
  }
  
  .checkbox {
    margin-right: 10px;
    cursor: pointer;
  }
  
  .donate-button {
    background-color: #ffcc22;
    color: white;
    text-align: center;
    padding: 20px;
    border-radius: 4px;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .donate-button:hover {
    background-color: #ffbc03;
  }
  
  .confirm {
    display: none;
    font-size: 18px;
    text-align: center;
    margin-top: 10px;
  }
  

  /* Feedback */
  .feedback_form{
    background-color:white ;
    padding-left: 5%;
    padding-right: 5%;
    padding-bottom: 5%;
    padding-top: 1%;
    margin: auto;
    width: 50%;
    border-style:solid;
    border-color: black;
    border-radius: 10px;
  }
  .feedback_form_header
  {
    font-size: 40px;
    text-align: center;
    margin-bottom:5%;
  }

.feedback_button
{
  background-color: blueviolet;

}

.feedback_form_submit
{
  width:100%;
}

.feedback_body
{
    background-color: lightblue;
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
}

.feedback_form_group
{
  padding:2.5%;
}

.feedback_section
{
    margin-top:12%;
    width:90%;
    
}
.feedback_row
{
    padding:3%;
    text-align: center;

}

.staff_feedback_top_container
{
  display:flex;
  justify-content: flex-start;
  gap:40%;
}

.staff_feedback_category_container
{
  text-align: center;
  font-weight:bold;
  font-size:larger;
}

.feedback_item
{

  cursor:pointer;
  margin-left:1%;
  margin-right:1%;
  padding:100px;
  padding-top:150px;
  padding-bottom:150px;
  font-size: x-large;
  background-color:#ffbc03;
  border-radius: 5%;

}

.navbar_staff_feedback
{
    position:fixed;
    z-index: 10000;
    width: 100%;
    background-color: #333;
    height: 80px;
  
}

.feedback_details_container
{
  /* border-style:solid;
  border-color: black;
  padding:5%;
  margin-top:10%; */
  text-align: center;
  background-color:white ;
  padding-left: 5%;
  padding-right: 5%;
  padding-bottom: 5%;
  padding-top: 1%;
  margin-top:10%;
  width: 50%;
  border-style:solid;
  border-color: black;
  border-radius: 10px;
}


.inbox_feedback
{
  /* border-style:solid; */
  margin-top:1%;
  padding:1.5%;
  padding-left: 5%;
  padding-right: 5%;
  width:90%;
}


#feedback_response_modal_body
{
  max-width: 100%;
  height:auto;
} 

#modal_image
{
  max-width: 100%;
  height:auto;
}

.inbox_feedback_item
{
  display:flex;
  justify-content: center;
  flex-wrap: wrap;
  font-size: x-large;
  font-weight: bold;
  border-style:solid;
  padding:2%;
  margin:5%;
  border-radius: 100px;
  cursor:pointer;
  background-color:rgb(8, 101, 163,0.9) ;
}

.inbox_feedback_item:hover
{
  background-color: rgba(19, 67, 199, 0.3);
  transition: ease-in 0.1s;
  color:white; 
}

.dropdown_menu 
 {
    color:white;
 }
.dropdown_menu a
{
    display:block;
    
}

.feedback_content 
{
    display: none;
    position:absolute;
    

}
.feedback_content a
{
  
    padding:15%;
    padding-left:0px;
    z-index: 999;
    /* border-style:solid;  */

}

.dropdown_menu:hover .feedback_content
{
    display: block;
    background-color: #333;
    
}

#feedback_chart_container
{
  /* border-style:solid; */
  width:35%;
  height:auto;
  margin-top:1.5%;
}